:root {
    /*--title-color: #212121;*/
    --text-color: #2E2F42;
    /* --secondary-color: #ffffff;*/
    --accent-brand: #4D5AE5;
    --heder-logo: #000000;
    --site-background-color: #ffffff;
    --header-background-color: #ffffff;
    --hero-bckround-color: #15183d;
    --hero-btn-text-color: #ffffff;
    --team-background-color: #F4F4FD;
    --filter-btn-background-color: #F4F4FD;
    --filter-btn-text-color: #ffffff;
    --footer-logo: #f5f4fa;}


*,
*::before,
*::after {
    box-sizing: border-box;}
 
h1, 
h2, 
h3, 
ul,
p {
   margin-top: 0;
   margin-bottom: 0;
}

ul {
padding-left: 0;
}
img {
    display: block;
}


body {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em; 
color:  var(--text-color);
background-color: var(--site-background-color);
}

/* ------HEADER-----------*/
.container {
    width: 1157px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid #4D5AE5 ;
    margin: 0 auto;
}

.header{
background-color: var(--header-background-color);
padding-top: 24px;
padding-bottom: 24px;
padding-left: 160px;
padding-right: 160px;
}


.heder-navigation {
    display: flex;
    margin-right: auto;
    align-items: center;
}
.header-container {
display: flex;
}

.heder-logo {
font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-transform: uppercase;
    display: flex;
   

}
.logo {
    font-family: "Raleway";
        font-weight: 700;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        color: var(--accent-brand);
        text-transform: uppercase;  
        display: flex;
        margin-right: 76px;
}


.heder-list {
    display: flex;
    gap: 40px;
    
}

.list {
    list-style: none;
}

.hader-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin: 0;
}
.link {
    text-decoration: none;
}

.link:hover, 
.link:focus {
color: var(--accent-brand);
}

.contacts {
display: flex;
margin: 0;
align-items: center;
}

.heder-contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
   margin: 0;
}

/*-------HERO----------*/
.hero {
    background-color: var(--hero-bckround-color);
    color: var(--hero-bckround-color);
}
.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
}
.btn {
    cursor: pointer;
    border: none;
    font-family: inherit;  
}
.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--hero-btn-text-color);
    background-color: var(--accent-brand);
}

/*----------advantages+team-------- */
.title-h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    color: var(--text-color);
}

.title-h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
}
.team {
    background-color: var(--team-background-color);
}

/* --------------footer-------------*/
.footer {
    background: #2E2F42;
}
.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33px;
    letter-spacing: 0.04em;
    color: var(--footer-logo);
    display: flex;
}
.footer-text{
color: #E7E9FC;
}

/*---------Portfolio---------*/

/*-------filter buttons-----*/

.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--accent-brand);
    background-color: var(--filter-btn-background-color);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-brand);
    color: var(--filter-btn-text-color);
}
